.edit-profile {
	div.edit-profile-container{
		background-color: #fff;
		border-left: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
		.col:first-child {
			padding: 0;
		}
		ul {
			list-style-type: none;
			margin:0;
			li {
				padding:20px 20px;
				border-bottom: 1px solid #f0f0f0;
				font-size: 1.125rem;
				&.active{
					background-color: $theme_yellow;
					color: #fff;
				} 
			}
		}
	}
	div.edit-profile-settings {
		padding: 30px 0;
		border-left: 1px solid #f0f0f0;
		.edit-profile-content {
			max-width: 550px;
			margin: 0 auto;
			label {
				vertical-align: top;
			}
		}
	}
}