<div class="profile">
<div class="group-color"></div>
	<div class="profile-header">
		<div class="social"></div>
	</div>
	<div class="container">
		<div class="profile-content row">
			<div class="col col-sm-3 about">
				<div class="profile-picture">
					<img class="img-circle" src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xlp1/v/t1.0-9/12003866_10154327949712501_8412384210960395353_n.jpg?oh=9f6a9cbc048873231e341613ee2765eb&oe=56BF93BC">
				</div>
				<div class="message-btn">
					<a href="#"><i class="fa fa-envelope"></i>Message</a>
				</div>
				<h4>About</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum ante a velit molestie egestas. Cras nibh dui, pharetra eget commodo a, ullamcorper nec leo. Duis nec tortor laoreet, rutrum odio non, aliquet justo.</p></div>
			<div class="col col-sm-6 profile-skills">
			<h2>Cedric Day-Myer</h2>
				<div class="main-skill"><p>2D artist</p></div>
			</div>
			<div class="col col-sm-3">d</div>
		</div>
	</div>
</div>