<footer>
  <div class="container">
    <aside class="social">
        <a href="mailto:info@indiebrigade.com" target="_blank"><i class="fa fa-envelope"></i></a>
        <a href="http://www.facebook.com/Indie-Brigade-1455904781376687" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/indiebrigade" target="_blank"><i class="fa fa-twitter"></i></a>
    </aside>
    <aside class="legal">
      <ul>
        <li><a href="/public/docs/PrivacyPolicy.pdf" target="_blank">Privacy Policy</a></li>
        <% year = Date.current.year %>
        <li>&copy; Indie Brigade <%= if year == 2015 then "2015" else "2015-#{year}" end %></li>
      </ul>
    </aside>
  </div>
</footer>
