<div class="main-nav">
	<div class="container">
		<div class="nav-logo">
			<img src="/images/logo.svg" alt="Indie Brigadetu fini" />	
		</div>

		<div class="nav-mobile">
			<a class='nav-burger'><i class="fa fa-bars"></i></a>
		</div>
		
		<div class="nav-menu">
			<ul>
				<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="#"><i class="fa fa-envelope"></i>Messages</a></li>
				<li><a href="#"><i class="fa fa-search"></i>Search</a></li>	
				<a class="nav-close"><i class="fa fa-close"></i></a>
			</ul>
			<div class="nav-profile">
				<a href="#" id="lnk_favorite"><i class="fa fa-star"></i></a>
				<img src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/12226964_10153179944576720_8971099443001796487_n.jpg?oh=4a9590cbbad834be73ce74422a21047a&oe=56B03C31" />
			</div>
			
		</div>
	</div>
</div>