<div class="main-nav">
	<div class="container">
		<div class="nav-logo">
			<img src="/images/logo.svg" alt="Indie Brigadetu fini" />	
		</div>

		<div class="nav-mobile">
			<a class='nav-burger'><i class="fa fa-bars"></i></a>
		</div>
		
		<div class="nav-menu">
			<ul>
				<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="#"><i class="fa fa-envelope"></i>Messages</a></li>
				<li><a href="#"><i class="fa fa-search"></i>Search</a></li>	
				<a class="nav-close"><i class="fa fa-close"></i></a>
			</ul>
			<div class="nav-profile">
				<a href="#" id="lnk_favorite"><i class="fa fa-star"></i></a>
				<img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12795309_10153365346651720_5340218416560735967_n.jpg?oh=6879f4c6f7d0ccdf0763c22f2da89a8c&oe=575F94F7" />
			</div>
			
		</div>
	</div>
</div>