<div class="main-nav">
	<div class="container">
		<div class="nav-logo">
			<img src="/images/logo.svg" alt="Indie Brigadetu fini" />	
		</div>
		<div class="nav-mobile">
			<a class='nav-burger'><i class="fa fa-bars"></i></a>
		</div>

		<div class="nav-menu">
			<div class="nav-profile">
				<img src="https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/12226964_10153179944576720_8971099443001796487_n.jpg?oh=4a9590cbbad834be73ce74422a21047a&oe=56B03C31" />

				<a href="#"><i class="fa fa-star"></i></a>
				<a class="nav-mail" href="#"><i class="fa fa-envelope"></i><span>53</span></a>
				<a href="#"><i class="fa fa-search"></i></a>
				
			</div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Calendar</a></li>
				<li><a href="#">Devs</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">R&D</a></li>
				<li><a href="#">School</a></li>
			</ul>
			
		</div>
	</div>
</div>