<ul>
  <li class="<%="active" if active == :dev %>"><%= link_to "Edit Dev information", edit_dev_path %></li>
  <li class="<%="active" if active == :user %>"><%= link_to "Account settings", edit_user_path %></li>
</ul>
