<div class="mdl-textfield mdl-js-textfield">
  <%= form.text_field :email, type: 'email', class: "mdl-textfield__input"%>
  <%= form.label :email, class: "mdl-textfield__label"%>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <%= form.password_field :password, class: "mdl-textfield__input"%>
  <%= form.label :password, class: "mdl-textfield__label" %>
</div>
