<%= render 'partials/menu' %>
<div class="row edit-profile">
	<div class="col col-sm-10 col-sm-offset-1 edit-profile-container">
		<div class="row">
			<div class="col col-sm-3 profile-settings">
				<ul>
					<a href="#"><li>Edit Profile</li></a>	
					<li class="active">Account settings</li>	
				</ul>
			</div>
			<div class="col col-sm-9 edit-profile-settings">
				<div class="edit-profile-content">
					<form>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>