<h3 class="tagline">Reserve your account today!</h3>
<section id="sign">
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    <button class="signup" type="submit" >Sign Up</button>
  <% end %>
</section>
