<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-color--grey ">
    <div class="mdl-card mdl-shadow--2dp ib-skill-card">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Main Skill
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Add to Calendar
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-color--grey ">Great</div>
  <div class="mdl-cell mdl-cell--6-col mdl-color--grey ">Good</div>
</div>
