<p id="notice"><%= notice %></p>

<h1>Listing Skills</h1>
<div class="row ib-skills-chooser">
  <% @skills_by_role.each do |role, skills| %>
    <div class="col-xs-12">
      <h3><%=role.code%></h3>

        <% skills.each do |skill| %>
          <div class="row">
            <div class="col-xs-4">
              <%=skill.long_name%>
            </div>
          </div>
        <% end %>

    </div>
  <% end %>
</div>

<br>
