<h1>Editing Skill</h1>

<select id='optgroup' multiple='multiple'>

  <optgroup label='Friends'>
    <option value='1'>Yoda</option>
    <option value='2' selected>Obiwan</option>
  </optgroup>
  <optgroup label='Enemies'>
    <option value='3'>Palpatine</option>
  </optgroup>
</select>
