<section id="sign">
<div class="formdone">
  <h3>Thank you!<br />
  Tell us what's your speciality for our poll</h3>
  <% @roles.each do |role| %>
    <%= link_to image_tag("/images/ind_sign_#{role.code.downcase}.png", alt: role.code), welcome_path(role_id: role.id)%>
  <% end %>
</div>
</section>
