<%= render 'partials/logo_heading' %>
<div class="welcome-tagline">
	<p><span>Find</span> devs.</p>
	<p><span>Connect</span> to them.</p>
	<p><span>Create</span> games.</p>
</div>
<div class="welcome-article row">
	<div class="article col-md-4">
		<img src="/images/splash_about.png" alt="About us">
		<div class="article-content">
			<h3>About us</h3>
			<p>Indie Brigade stands for “<b>INDIE BRI</b>dge for <b>GA</b>me <b>DE</b>vs”. We want to allows game devs from all over to reach out to one another and start making games of all types and sizes. Devs can contact other members and create project pages to look for one or more dev. Keep track of devs you have messaged and projects that interest you.</p>
		</div>
	</div>
	<div class="article col-md-4">
		<img src="/images/splash_signup.png" alt="Sign up">
		<div class="article-content">
			<h3>Sign Up</h3>
			<p>Signing up is quick and easy Only your email, name and role are needed. Your full profile can be completed upon a further visit. Only logged in devs are able to search for projects or see members’ profile pages.</p>
		</div>
	</div>
	<div class="article col-md-4">
		<img src="/images/splash_members.png" alt="Members">
		<div class="article-content">
			<h3>Members</h3>
			<p>Devs are divided in 4 categories that are always labelled through their colors: design, art, code and other. These colors will help you quickly identify skills and roles that members and projects are referring to.</p>
		</div>
	</div>
</div>
<% if !current_user && Clearance.configuration.allow_sign_up? then %>
  <h3 class="tagline"><%= link_to 'Sign up', sign_up_path %> to reserve your account today!</h3>
<% end %>