<%= render 'partials/menu' %>
<div class="container-fluid">
  <div class="row">
    <div class="col col-xs-12 col-sm-10 col-sm-offset-1 edit-profile-container box-content">
		<div class="search-global">
			<div class="search-fields">
				<div class="iNd-input">
					<label>Search</label>
					<input type="text" value="" />
				</div>
			</div>
			<div class="iNd-tabs-global">
				<ul class="iNd-tabs">
					<li class="iNd-tab">Cedric</li>
					<li class="iNd-tab">Sonda</li>
				</ul>
				<div class="iNd-tab-panels">
					<div class="iNd-tab-panel">
						<p>test test test</p>
					</div>
					<div class="iNd-tab-panel">
						<p>jujube</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>