<%= render 'partials/menu' %>
<div class="search-global">
	<div class="input-label">
		<label>Name</label>
		<input type="text" value="" />
	</div>
	<div class="input-label">
		<label>Last Name</label>
		<input type="text" value="" />
	</div>
	<div class="input-label">
		<input type="text" value="" />
	</div>
</div>
