<%= render 'partials/menu' %>
<div class="search-global">
	<div class="iNd-tabs-global">
		<ul class="iNd-tabs">
			<li class="iNd-tab">Cedric</li>
			<li class="iNd-tab">Sonda</li>
		</ul>
		<div class="iNd-tab-panels">
			<div class="iNd-tab-panel">
				<p>test test test</p>
			</div>
			<div class="iNd-tab-panel">
				<p>jujube</p>
			</div>
		</div>
	</div>
	<div class="iNd-input">
		<label>Name</label>
		<input type="text" value="" />
	</div>
</div>
