<%= render 'partials/menu' %>
<div class="container-fluid">
	<div class="edit-profile">
		<div class="col col-xs-12 box-content">
			<div class="search-global">

				<div class="search-fields">
					<div class="iNd-input">
						<label>Search</label>
						<input type="text" value="" />
					</div>
					<div class="search-filters">
						<div class="col col-sm-8">
							<div class="row">
								<div class="col col-sm-6">
									<div>
										<label for="role">Role</label>
										<input type="" name="role">
									</div>
								</div>
								<div class="col col-sm-6">d</div>
							</div>
						</div>
						<div class="col col-sm-4">
							<div>
								<input type="checkbox" name="work-1">
								<label for="work-1"><span></span>Work Online</label>
							</div>
							<div>
								<input type="checkbox" name="work-2">
								<label for="work-2"><span></span>Work in person</label>
							</div>
							<div>
								<input type="checkbox" name="work-3">
								<label for="work-3"><span></span>Paid</label>
							</div>
							<div>
								<input type="checkbox" name="work-4">
								<label for="work-4"><span></span>Not Paid</label>
							</div>
							<div>
								<input type="checkbox" name="work-5">
								<label for="work-5"><span></span>Internship</label>
							</div>
						</div>
						<div class="center-text">
			              <%= submit_tag("Submit", class: "btn-cta") %>
			            </div>
					</div>
				</div>
			</div>
		</div>

		<div class="iNd-tabs-global row">
			<div class="result-tab box-content">
				<img src="http://localhost:3000/system/devs/avatars/000/000/031/medium/Photo_du_2015-04-10_a__13.35__3.jpg?1457054113" class="img-circle">
				<div>
					<h4>Cedric Day-Myer-Garnier</h4>
					<div>
						<div class="main-skill group-Art"><p>2D artist</p></div>
				        <a class="favorite-link"><i class="fa fa-star-o"></i></a>
				        <ul>
				        	<li class="group-">2D Animation</li>
				        	<li class="group-">HTML/CSS</li>
				        	<li class="group-">Concept Art</li>
				        </ul>
			        </div>
		        </div>
			</div>
			<div class="result-tab box-content">
				<img src="http://localhost:3000/system/devs/avatars/000/000/031/medium/Photo_du_2015-04-10_a__13.35__3.jpg?1457054113" class="img-circle">
				<div>
					<h4>Cedric Day-Myer-Garnier</h4>
					<div>
						<div class="main-skill group-Art"><p>2D artist</p></div>
				        <a class="favorite-link"><i class="fa fa-star-o"></i></a>
				        <ul>
				        	<li class="group-">2D Animation</li>
				        	<li class="group-">HTML/CSS</li>
				        	<li class="group-">Concept Art</li>
				        </ul>
			        </div>
		        </div>
			</div>
			<div class="result-tab box-content">
				<img src="http://localhost:3000/system/devs/avatars/000/000/031/medium/Photo_du_2015-04-10_a__13.35__3.jpg?1457054113" class="img-circle">
				<div>
					<h4>Cedric Day-Myer-Garnier</h4>
					<div>
						<div class="main-skill group-Art"><p>2D artist</p></div>
				        <a class="favorite-link"><i class="fa fa-star-o"></i></a>
				        <ul>
				        	<li class="group-">2D Animation</li>
				        	<li class="group-">HTML/CSS</li>
				        	<li class="group-">Concept Art</li>
				        </ul>
			        </div>
		        </div>
			</div>
			<div class="result-tab box-content">
				<img src="http://localhost:3000/system/devs/avatars/000/000/031/medium/Photo_du_2015-04-10_a__13.35__3.jpg?1457054113" class="img-circle">
				<div>
					<h4>Cedric Day-Myer-Garnier</h4>
					<div>
						<div class="main-skill group-Art"><p>2D artist</p></div>
				        <a class="favorite-link"><i class="fa fa-star-o"></i></a>
				        <ul>
				        	<li class="group-">2D Animation</li>
				        	<li class="group-">HTML/CSS</li>
				        	<li class="group-">Concept Art</li>
				        </ul>
			        </div>
		        </div>
			</div>
		</div>
	</div>
</div>