<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @availability_per_week.name %>
</p>

<%= link_to 'Edit', edit_availability_per_week_path(@availability_per_week) %> |
<%= link_to 'Back', availability_per_weeks_path %>
