// general component

.slider {
  @include span (full);
  background-color:teal;
  position: relative;
  overflow: auto;
  text-align:center;
  margin-bottom:0.5em;
  ul li{ float:left; list-style: none;
      height:150px;
    h2 {
      font-size:2em; padding:0;
      &:before, &:after {
        content: "a string";
      }
    }
    p{font-size:0.8em;}
  }
}

.container {
	clear: both;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -$footer-height;
	.container-footer{
		height: $footer-height;
	}
	width:span(10 of 12); margin:0 auto;
	@include breakpoint(max-width ($sm - 1)){
  	width:span(12); padding:0 gutter();
	}
}

.post {
  @include span(8 of 12);
  @include card(2);
  min-height:100px;
  background-color: white;
  margin-bottom: gutter() / 2;
  border-radius:2px;
  .title{
    background-color:yellow;
    height: 172px;
    padding:1.2em;
    text-align:left;
    h1{font-size:1.3em; color:red;
      position:relative; bottom:-81%;}
    }
  .text {
    color:$gray;
    padding:0 gutter();
    border-bottom:1px solid $gray;
  }
}

.logo-heading {
  height:$big-logo-height;
  width:$big-logo-width;
  background-image: url("../images/logo_big.png");
  overflow:hidden;
  margin:30px auto;
  @include breakpoint(max-width ($sm - 1)){width:span (3 of 4);}
  padding: 0;
  display: block;
  @include breakpoint(max-width ($sm - 1)){
    height:$logo-height;
    width:$logo-width;
    background-image: url("../images/logo.png");
  }
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
