#sign{
  clear:both;
  width: span(4 of 12 center);
  margin:0 auto;
  padding-bottom:gutter();
  form{
    margin-bottom:60px;
  }
  @include breakpoint(max-width ($sm - 1)){ @include span(96%);}
  .signup {
    @extend .button;
    background-color:$yellow;
    margin:25px auto;
    padding:0 30px;

    border-radius:1em;
    text-transform:uppercase;
    display:block;
    @include breakpoint(max-width ($sm - 1)){
      width:span(11 of 12);
      height:45px;
    }
  }
  .other{
    clear:both;
    width: 100%;
    text-align: center;
  }
}
