/*material color scheme*/
$primary-color: rgb(96, 125, 139);
$secondary-color: rgb(255, 64, 129);

@import "material";

.ib-logo-background{
  background-image: image-url("logo_signature_horizontal_light.png");
  width:148px;
  height:50px;
}
