// Variables /////////////////////////
// Colors
$theme_red: #d00000;
$theme_blue: #0055e0;
$theme_green: #00c500;
$theme_grey: #82868f;
$theme_grey_content: #7b7b7b;
$theme_yellow: #ffae00;
$theme_background: #f7fdfe;
// Resolutions
$sm-mobile-screen: 640px;
$mobile-screen: 766px;
$tablet-screen: 992px;
$desktop-screen: 1200px;
// Mixins ////////////////////////////
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


// Classes ///////////////////////////
* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

html,
body {
    font-size: 16px;
}

.content-tab{
	display: none;

	&.active{
		display: block;
	}
}
.box-content {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;  
    box-shadow: 0 3px 3px rgba(0,0,0,0.19);
    border-radius: 2px;
}
a {
    text-decoration: none;
}
.hidden{
  display: none;
}
.mobile {
  display: none;
}
.btn-cta {
    display: inline-block;
    background-color: $theme_grey_content;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: #fff;
    border: 0;
    padding: 12px 10px;
    @include border-radius(5px);
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $theme_yellow;
      color: #fff;
      text-decoration: none;
    }
    &.btn-plus, &.btn-close {
        cursor: pointer;
        padding: 2px 5px 1px;
        margin-top: 20px;
    }
    &.btn-close {
      position: absolute;
      top: 5px;
      right: 5px;
      margin-top: 0;
    }
}
.custom-selectbox{
    position: relative;
    font-size: 0.875rem;
    &:after{
      content: " ";
      height: 0;
      width: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $theme_grey;
      position: absolute;
      right: 20px;
      top: 40px;
  }
}
.role- {
  &Art {
    color: $theme_blue;
  }
  &Design {
    color: $theme_green;
  }
  &Code {
    color: $theme_red;
  }
  &Other {
    color: $theme_grey;
  }
}

@media screen and (max-width:$mobile-screen) {
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }
}

.input-label{
	position:relative;
	&:before{
		content: "";
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		background: green;

	}
	input{
		outline: none;
		border: none;
		border-bottom: 3px solid #eee;
		background: #fff;
		padding: 5px;
		font-size: 12px;

		&:focus{
			border-bottom: 3px solid #eee;
		}

	}
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label { font-weight: normal; }
input[type="checkbox"] + label span{
    display:inline-block;
    width:16px;
    height:16px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url('/images/checkbox.png') top left;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span{
    background: url('/images/checkbox.png') top right;
}
