// Variables /////////////////////////
// Colors
$theme_red: #d00000;
$theme_blue: #0055e0;
$theme_green: #00c500;
$theme_grey: #82868f;
$theme_grey_content: #7b7b7b;
$theme_yellow: #ffcc00;
$theme_background: #f7fdfe;
// Resolutions
$mobile-screen: 766px;
$tablet-screen: 992px;
$desktop-screen: 1200px;
// Mixins ////////////////////////////
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

// Classes ///////////////////////////
* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

html,
body {
    font-size: 16px;
}

.content-tab{
	display: none;

	&.active{
		display: block;
	}
}
a {
    text-decoration: none;
}