// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-no-gutter{
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.ib-skills-chooser {
  text-align: center;

  .ib-skills-header {
    background-color: $gray-light;
    width: 100%;
  }

  .ib-skills-good {
  }

  .ib-skills-great {
  }

  .ib-skills-free {
  }


}

.col-xs-0{
  width: 0;
  margin-left: 0;
}

.ib-skills-offset {
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}
