body{
	background: $theme_background;
	font-size: 16px;
}

div.main-nav{
	height: 80px;
	padding: 10px;
	background : #theme_blue;

	div.container{
		height: 100%;
		a.nav-logo{
			width: 20%;
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			@media (max-width: $tablet-screen){
				width: 35%;
			}
			img{
				height: 100%;
			}
		}
		div.nav-mobile{
			display: none;
			width: 63%;
			text-align: right;
			@media (max-width: $tablet-screen){
				display: inline-block;
			}

			a.nav-burger{
				display: inline-block;
				font-size: 1.5rem;
				cursor: pointer;

				i{
					color: #868686;
				}


			}
		}

		div.nav-menu{
			width: 79.5%;
			text-align: right;
			display: inline-block !important;
			vertical-align: middle;
			line-height: 30px;
			position: relative;

			@media (max-width: $tablet-screen){
				width: 320px;
				background-color: #eee;
				position: absolute;
				top: 0px;
				right: -345px;
				text-align: left;
				z-index: 1000;
				height: 100%;
				padding: 0px 20px;
				box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
			}


			>*{
				display: inline-block;
				vertical-align: middle;

				@media (max-width: $tablet-screen){
					display: block;
					float: none;
				}

			}



			ul{
				list-style-type: none;
				margin: 0px;
				@media (max-width: $tablet-screen){
					position: relative;
				}
				li{
					display: inline-block;
					margin: 0px 25px 0px 0px;
					vertical-align: middle;


					@media (max-width: $tablet-screen){
						display: block;
						padding: 5px 10px;
						margin: 0px;
						border-bottom: dashed 1px #bbb;
					}

					a{
						color: #868686;
						text-transform: uppercase;
						font-weight: 400;
						font-size: 1rem;

						@media (max-width: $tablet-screen){
							font-size: 0.8rem;
							display: block;
						}

						i{
							display: none;
							width: 20px;
							font-size: 0.9rem;
							@media (max-width: $tablet-screen){
								display: inline-block;
							}
						}


					}
				}
				a.nav-close{
					display: none;
					width: 30px;
					height: 30px;
					background: #ddd;
					position: absolute;
					top: 5px;
					right: 0px;
					text-align: center;
					line-height: 30px;
					vertical-align: middle;
					cursor: pointer;

					@include border-radius(4px);
					@media (max-width: $tablet-screen){
						display: block;
					}

					i{
						color: #aaa;
					}
				}
			}
			div.nav-setting{
				display: none;
				position: absolute;
				background: #eee;
				padding: 0 10px;
				right: 0;
				top: 100%;
				margin-top: 10px;
				z-index: 100;
				text-align: left;
				border-radius: 3px;
				.nav-arrow{
					position: relative;
					i{
						font-size: 30px;
						color: #eee;
						position: absolute;
						top: -20px;
						right: -2px;
					}
				}
				a{
					text-transform: uppercase;
					display: block;
					padding: 5px;
					border-bottom: 1px solid #ddd;
					text-decoration: none;
					font-size: 12px;

					i{
						margin-right: 10px;
					}

					&:last-child{
						border-bottom: none;
					}

					@media (max-width: $tablet-screen){
					    color: #868686;
					    text-transform: uppercase;
					    font-weight: 400;
					    font-size: 0.8rem;
					    padding: 5px 10px;
						border-bottom: dashed 1px #bbb;

						&:hover{
							text-decoration: underline;
						}
					}
				}

				@media (max-width: $tablet-screen){
					position: relative;
					display: block !important;
					top: 0px;
					margin: 0;
					padding: 0;
					width: 100%;
				}
			}

			div.nav-profile{
				position: relative;

				>*{
					display: inline-block;
					vertical-align: middle;
				}
				>a{
					margin-left: 10px;
					position: relative;
					i{
						font-size: 20px;
						color: #868686;
					}

					&#lnk_favorite{
						@media (max-width: $tablet-screen){
							background-color: $theme_yellow;
							margin-right: 10px;
							padding: 0px 10px;
							@include border-radius(4px);
							color: #fff;
							text-align: center;
							text-decoration: none;

							i{
								font-size: 0.9rem;
								color: #fff;
							}

							&:after{
								color: #fff;
								font-size: 0.8rem;
								content:"Watchlist";
								margin-left: 5px;
							}
						}
					}
				}

				img{
					height: 30px;
					@include border-radius(50%);

				}
				/*
				&:before{
					position: absolute;
					right: -15px;
					top: 8px;
					content: "\f107";
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    text-rendering: auto;
				    font-size: 12px;
				    -webkit-font-smoothing: antialiased;
				}
				*/
			}
		}
	}
}

div.logo-heading{
	margin: 30px auto;
	width:75%;

	@media (max-width: $tablet-screen){
		width: 95%;
	}
	img{
		width: 100%;
	}
}

footer{
	background: #45484D;

	.container{
		.social{
			border-bottom: 1px solid #fff;
			text-align: right;
			padding: 20px 0px;

			a{
				text-decoration: none;
				color: #fff;
				display: inline-block;
				margin-left: 5px;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 35px;
				border: 1px solid #fff;
				font-size: 16px;
				@include border-radius(50%);

			}
		}

		.legal{
			text-align: right;
			padding: 10px 0px;

			ul{
				display: inline-block;
				list-style-type: none;
				li{
					display: inline-block;
					color: #72757A;
					padding: 0px 15px;
					border-right: 1px solid #72757A;
					line-height: 15px;
					font-size: 12px;
					font-weight: 500;
					@media (max-width: $tablet-screen){
						display: block;
						padding: 0px;
						margin-bottom: 10px;
						border-right: none;
					}

					&:last-child{
						padding-right: 0px;
						border-right: none;
					}
					a{
						color: #72757A;
					}
				}
			}
		}
	}
}
