body{
	background: $theme_background;
	font-size: 16px;
}

div.main-nav{
	height: 80px;
	padding: 10px;
	background : #theme_blue;

	div.container{
		height: 100%;
		div.nav-logo{
			width: 20%;
			display: inline-block;
			vertical-align: middle;
			img{
				width: 100%;
			}
		}
		div.nav-mobile{
			display: none;
			/*
			@media (max-width: $tablet-screen){
				display: inline-block;
				width: 79.5%;
				text-align: right;

			}
			*/
			a.nav-burger{
				display: inline-block;
				font-size: 15px;
				cursor: pointer;
			
				i{
					color: #868686;
				}


			}
		}
		
		div.nav-menu{
			width: 79.5%;
			text-align: right;
			display: inline-block;
			vertical-align: middle;
			line-height: 30px;
			/*
			@media (max-width: $tablet-screen){
				display: none;
				display: block;
				width: 70%;
				min-width: 320px;
				max-width: 500px;
				background-color: #eee;
				position: absolute;
				top: 0px;
				left: 0px;
				text-align: left;

			}
			*/

			>*{
				display: inline-block;
				vertical-align: middle;
				float: right;
				/*
				@media (max-width: $tablet-screen){
					display: block;
					float: none;
				}
				*/
			}


			
			ul{
				list-style-type: none;
				margin: 0px;
				li{
					display: inline-block;
					margin: 0px 25px 0px 0px;
					vertical-align: middle;

					/*
					@media (max-width: $tablet-screen){
						display: block;
					}
					*/
					a{
						color: #868686;
						text-transform: uppercase;
						font-weight: 400;
						font-size: 1.2rem;
					}
				}
			}
			
			div.nav-profile{
				margin-right: 20px;
				position: relative;

				>*{
					display: inline-block;
					vertical-align: middle;
					line-height: 35px;
					float: right;
					/*
					@media (max-width: $tablet-screen){
						display: block;
						float: none;
					}
					*/
				}
				>a{
					margin-right: 10px;
					position: relative;
					i{
						font-size: 20px;
						color: #868686;
					}

					&.nav-mail{
						span{
							display: block;
							background: red;
							padding: 2px;
							position: absolute;
							top: 0px;
							right: -5px;
							color: #fff;
							font-size: 10px;
							min-width: 15px;
							height: 15px;
							text-align: center;
							line-height: 13px;

							@include border-radius(50%);
						}				
					}
				}

				img{
					height: 30px;
					@include border-radius(50%);
				}
				/*
				&:before{
					position: absolute;
					right: -15px;
					top: 8px;
					content: "\f107";
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    text-rendering: auto;
				    font-size: 12px;
				    -webkit-font-smoothing: antialiased;
				}
				*/
			}
		}
	}
}

div.logo-heading{
	margin: 30px auto;
	width:75%;

	@media (max-width: $tablet-screen){
		width: 95%;
	}
	img{
		width: 100%;
	}
}

footer{
	background: #45484D;

	.container{
		.social{
			border-bottom: 1px solid #fff;
			text-align: right;
			padding: 20px 0px;

			a{
				text-decoration: none;
				color: #fff;
				display: inline-block;
				margin-left: 5px;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 35px;
				border: 1px solid #fff;
				font-size: 16px;
				@include border-radius(50%);

			}
		}

		.legal{
			text-align: right;
			padding: 10px 0px;

			ul{
				display: inline-block;
				list-style-type: none;
				li{
					display: inline-block;
					color: #72757A;
					padding: 0px 15px;
					border-right: 1px solid #72757A;
					line-height: 15px;
					font-size: 12px;
					font-weight: 500;
					&:last-child{
						padding-right: 0px;
						border-right: none;
					}
					a{
						color: #72757A;
					}
				}
			}
		}
	}
}