<p>
  <strong>availability_duration_id :</strong>
  <%= @availability.availability_duration.name %>
</p>

<p>
  <strong>availability_per_week_id :</strong>
  <%= @availability.availability_per_week.name %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
