<!DOCTYPE html>
<html>
<head>
    <title>Indiebrigade</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

    <button type="button" class="btn btn-primary btn-lg">mah boy</button>
<%= yield %>

</body>
</html>
