<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @availability_duration.name %>
</p>

<%= link_to 'Edit', edit_availability_duration_path(@availability_duration) %> |
<%= link_to 'Back', availability_durations_path %>
